
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Keshav Singh</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Priya Jain</td>
        </tr>
    </tbody>
</table>

@section footer{
    <div class="jumbotron">
        <p class="lead">
            hi this is footer section
        </p>
    </div>
    }